<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{url_for('static',filename='CSS/calendar.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-home-circle'></i>
            <span class="logo_name">Paratus</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{{ url_for('dashboard')}}">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('myFiles')}}">
                    <i class='bx bx-file'></i>
                    <span class="links_name">Files</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('calendar')}}">
                    <i class='bx bx-calendar'></i>
                    <span class="links_name">Calendar</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('scheduling')}}" class="active">
                    <i class='bx bx-envelope'></i>
                    <span class="links_name">Scheduling</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('report')}}">
                    <i class='bx bx-chart'></i>
                    <span class="links_name">Reports</span>
                </a>
            </li>

            <li>
                <a href="{{ url_for('accountPage')}}">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Settings</span>
                </a>
            </li>
            <li class="log_out">
                <a href="{{ url_for('logout')}}">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>

            <div class="logo-box">
                <img src="{{ url_for('static',filename='images/paratuslogoicon.png')}}" alt="">
            </div>

            <div class="profile-details">
                <img src="{{ url_for('static',filename='images/blank-profile-picture.png')}}" alt="">
                <span class="admin_name">name[0]</span>

            </div>
        </nav>

    </section>
    </div>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>


</body>

</html>